* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(chalkboard.jpg);
    font-family: 'JetBrains Mono', monospace;
    font-size: small;
}

.container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 30%;
    background-color: white;
    margin-left: calc(35% - 30px);
    margin-top: calc(12vh - 30px);
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 15);
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;

}

.login img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}

.yada img {
    height: 40px;
    width: 40px;
}

.login {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    height: 60px;
}

input {
    outline: 0;
    border-width: 0px 0px 2px;
    border-color: blue;
    position: absolute;
    top: 10px;
    text-indent: 30px;
    padding-bottom: 5px;
    width: 100%;
}

input:focus {
    border-color: green;
}

.unuttum {
    display: flex;
    justify-content: flex-end;
}

.myButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 27px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 43px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.gonder {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.yada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.butonlar {
    margin-top: 10px;
}

.yada2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}